<h1>Editing chemistry</h1>

<%= render "form", chemistry: @chemistry %>

<br>

<div>
  <%= link_to "Show this chemistry", @chemistry %> |
  <%= link_to "Back to chemistries", chemistries_path %>
</div>
