<body class="home-page" id="homebody">
  <div class="container text-center mt-2">
      <a href="https://www.iitcircuit.com/z", class="cta", style="float: left;">Physics</a>
      <%= link_to "Mathematics", mathvideos_path, class: "cta"%>
      <%= link_to "Chemistry", chemistries_path, class: "cta", style: "float: right;"%>
  </div>
  <div class="container text-center mt-2" id="home-container" >
    <h1 class= "hhome" id="homehone">Dear Tannu,</h1>
    <p class= "phome" id="homep">Preparing for JEE Advanced is undoubtedly a challenging and demanding task, but it is also an opportunity for you to achieve great things and reach your full potential. You have already taken the first step by choosing to pursue this path, and that in itself is commendable.
    </p>
    <p class= "phome" id="homep">Remember that the road to success is not an easy one, but it is not impossible either. With hard work, dedication, and the right mindset, you can overcome any obstacle and achieve your goals.</p>
    <p class= "phome" id="homep">Take small steps every day towards your preparation, and stay consistent in your efforts. Set achievable goals for yourself, and celebrate each milestone that you achieve along the way. Don't compare yourself with others, but instead, focus on improving yourself every day.
    </p>
    <p class= "phome" id="homep">Also, make sure to take care of your physical and mental health, as this will have a significant impact on your performance. Get enough sleep, exercise regularly, and eat a healthy and balanced diet. Take breaks when needed, and don't hesitate to seek help if you feel overwhelmed.</p>
    <p class= "phome" id="homep">Lastly, remember that failure is a part of the learning process, and it is okay to make mistakes. Don't let setbacks discourage you, but instead, use them as an opportunity to learn and grow. Believe in yourself and your abilities, and stay motivated and positive throughout your preparation.</p>
    <p class= "phome" id="homep">You can do this, Tannu! Best of luck for your JEE Advanced preparation.</p>

  </div>
</body>