<h1>Editing mathvideo</h1>

<%= render "form", mathvideo: @mathvideo %>

<br>

<div>
  <%= link_to "Show this mathvideo", @mathvideo %> |
  <%= link_to "Back to mathvideos", mathvideos_path %>
</div>
